body, html {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   background: #f5f0e3;
}
/* ----------------- elements------------------ */
#logo {
   display: inline-block;
   padding: 25px;
}

#logo-pic {
   display: inline-block;
   width: 40px;
   padding-right: 15px;
   vertical-align: middle;
}

#logo-word {
   display: inline-block;
   margin: 0;
   font-family: 'Montserrat Alternates', sans-serif;
   text-transform: uppercase;  
   font-size: 16px; 
   font-weight: 600;
   vertical-align: middle;
   color: #275a53;
   
}
#logo-word>big {
   font-size: 23px;
}

#toggle{
   display: inline-block;
	padding: 33px;
	position: absolute;
	right: 0px;
	cursor: pointer;
}

#toggle div{

	width: 20px;
	height: 2px;
	margin: 4px;
	background: #E3492B;
	transition: all 0.3s ease;
}

.toggle-animation .line1 {
	transform: rotate(-45deg) translate(-4px, 4px);
}

.toggle-animation .line2 {
	opacity: 0;
}

.toggle-animation .line3 {
	transform: rotate(45deg) translate(-4px, -4px);
}

nav
{
	position: absolute;
	top: 88px;
	right: 0px;
	padding: 0px;
	background: #ffc03d;	
	display: block;
	width: 100%;
	transform: translateX(100%);
	transition: 0.5s ease;
	z-index: 1;
}

.nav-animation {
	transform: translateX(0%);
}

nav a {
	text-transform: uppercase;
	font-family: 'Proxima Nova Alt Rg', sans-serif;
	color: #432344;
	font-size: 15px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 45px;
	border-bottom: 0.5px solid #432344;
}

nav a:hover {
	text-decoration: none;
	color: #ff2525;
}

/* ----------------- reusalbe ------------------ */